# Don't check in the Output dir
Output/
Dependencies/
dependencies/
Secrets/
test.ps1
*.dll
release/
.vscode/
docs/
testresult.xml
octo.medavis.local.crt
.env
/devcontainer/devcontainer.env
tests/out/
